extends article-layout

block content
   .container-menu
      .wrapper-menu
         ul.menu
            li
               a#commnunity(href="http://localhost:3000/board/university/page=1") 대학게시판
            li
               a#board(href="http://localhost:3000/board/page=1") Board
            li
               a#potal(href="http://portal.cnu.ac.kr/") Portal
            li
               a#cnuis(href="http://cnuis.cnu.ac.kr/") 통합정보시스템

   .wrapper-article
      .article
         h2.title #{article_title}
         .info
            p views : #{view}
            p create_date : #{created_date}
            p writer : #{writer}
         .descript
            p #{description}

