extends board-layout

block content
    .container-menu
        .wrapper-menu
            .index-logo
                img(src="/images/index-logo.png")
                h1.title Steam
                p 충남대 커뮤니티
            ul.menu
                li
                    a#commnunity(href="http://localhost:3000/board/university/page=1") 대학게시판
                li
                    a#board(href="http://localhost:3000/board/page=1") Board
                li
                    a#potal(href="http://portal.cnu.ac.kr/") Portal
                li
                    a#cnuis(href="http://cnuis.cnu.ac.kr/") 통합정보시스템
    .board
        h2= title
        table(cellspacing="0")
            thead
                tr.table_head
                    th.id Index
                    th.title 제목
                    th.writer 글쓴이
                    th.view 조회수
                    th.date 날짜
            tbody
                for article in articles
                    tr.table_body
                        td.id= article.id
                        td.title
                            a(href="../article/id="+article.id)= article.title
                        td.writer= article.user.name
                        td.view= article.view
                        td.date= article.created_date

        .wrapper-pagination
            ul.pagination
                -var x = input;
                -var page = ppage;
                    - if(page < 10)
                        - for (var i = 1; i <= page; i++)
                            li
                                a(href="/board/page="+i )= i
                    - else if(x < 10)
                        - for (var i = 1; i <= 10; i++)
                            li
                                a(href="/board/page=" + i )= i
                    - else if(x+10 > page)
                        - for (var i = page - 9; i <= page; i++)
                            li
                                a(href="/board/page=" + i )= i
                    - else
                        - for (var i = (x - (x%10) + 1); i <= (x - (x%10)); i++)
                            li
                                a(href="/board/page=" + i )= i



            input#write-btn(type="button" value="글쓰기" onclick="btn()")