doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/mypage.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
    body
        block header
            include header.pug

        block content
            .container-menu
                .wrapper-menu
                    .index-logo
                        img(src="/images/index-logo.png")
                        h1.title Steam
                        p 충남대 커뮤니티
                    ul.menu
                        li
                            a#commnunity(href="/board/university/page=1") 대학게시판
                        li
                            a#board(href="/board/page=1") Board
                        li
                            a#potal(href="http://portal.cnu.ac.kr/") Portal
                        li
                            a#cnuis(href="http://cnuis.cnu.ac.kr/") 통합정보시스템
            .mypage
                h2 mypage
                .username
                    label User name :
                    p #{username}
                .useremail
                    label Email :
                    p #{email}
                .articlecount
                    label Article count
                    p 대학 게시판 : #{universityCount}
                    p 자유 게시판 : #{boardCount}
                .btn
                    input(type="button" value="글 목록 보기")
                    input(type="button" value="정보 수정")
        block footer
            include footer.pug